<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/style.css" />  
  <link href=“https://fonts.googleapis.com/css?family=Baskervville|Lora&display=swap” rel=“stylesheet”>
</head>

<body>
  <nav class="navbar container-fluid justify-content-end navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
        alt="">
      2 DaysAway
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {{!-- <nav class="nav container-fluid navbar-dark bg-dark justify-content-end"> --}}

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post/reviews">Reviews</a>
        </li>
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/userprofile">{{this.user.username}}'s Profile</a>
        </li>
        <li class="nav-item">
          <form action="/sign-out" method="POST">
            <button class="btn btn-outline-primary">Logout</button>
          </form>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>

        {{/if}}
        {{!-- </nav> --}}
      </ul>
    </div>
  </nav>
  {{!-- </div> --}}


  {{!-- <nav>
    <a href="/">Home</a>
    <a href="/post/reviews">Reviews</a>

    {{#if user}}
    <form action="/sign-out" method="POST">
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/login">Login</a>
    <a href="/sign-up">Sign Up</a>
    {{/if}}


  </nav> --}}

  {{{body}}}





  <footer>
    {{#if user}}
    <a href="/userprofile">{{this.user.username}}'s Profile</a>
    {{/if}}
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
    integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
    crossorigin="anonymous"></script>
</body>

</html>