<body class="trip-selection">
  <div class="container-fluid">
    <form class="tripSelectionForm" action="/tripSelection" method="POST">
      <label for="input-travelingFrom">
        <h3>Where will you be Traveling from:</h3>
      </label>
      <input type="text" id="input-travelingFrom" name="travelingFrom" placeholder="Enter the city of your departure" />
      <button class="btn btn-custom">Find out where your next Adventure begins</button>
      {{#if city}}
      <h3 class="cityName">{{city.city_name}}</h3>
      <h5> Currency: {{city.currency}}</h5>
      <h5> Spoken language: {{city.language}}</h5>
      <h5> Country: {{city.country}}</h5>
      <a class="btn-itinerary" href="/day1/{{city._id}}">Go to itinerary</a>
      {{/if}}
      {{#if errorMessage}}
      <div class="error-message"><strong>{{ errorMessage }}</strong></div>
      {{/if}}
    </form>




  </div>
</body>