<div class="first-day-itinerary">
  <h1>Enjoy your new two-day adventure to wonderful {{this.city_name}}!</h1>
  <h2>{{this.city_description}}</h2>
  <section>
    <div>
      <h3>Start your day with a delicious breakfast at {{this.steps[0].name}}</h3>
      <img src="{{this.steps[0].photo}}">
      <p>{{this.steps[0].description}}</p>

    </div>
    <div>
      <h3>Begin your trip with a visit to {{this.steps[1].name}}</h3>
      <img src="{{this.steps[1].photo}}">
      <p>{{this.steps[1].description}}</p>
    </div>
    <div>
      <h3>A delicious lunch awaits you at {{this.steps[2].name}}</h3>
      <img src="{{this.steps[2].photo}}">
      <p>{{this.steps[2].description}}</p>
    </div>
    <div>
      <h3>Discover the beauty of {{this.steps[3].name}} </h3>
      <img src="{{this.steps[3].photo}}">
      <p>{{this.steps[3].description}}</p>
    </div>
    <div>
      <h3>Dine with style at restaurant {{this.steps[4].name}}</h3>
      <img src="{{this.steps[4].photo}}">
      <p>{{this.steps[4].description}}</p>
    </div>
    <div>
      <h3>Wrap up your evening by visiting majestic {{this.steps[5].name}}</h3>
      <img src="{{this.steps[5].photo}}">
      <p>{{this.steps[5].description}}</p>
    </div>
  </section>


  {{!-- <div class="single-prod-img"><img src="{{this.image_url}}"></div>
  <div class="prod-info">
    <h3>{{this.name}}</h3>
    <h4>{{this.tagline}}</h4>
    <p>{{this.description}}</p>
  </div> --}}

</div>