<div class="ItineraryDay"></div>
<div class="container-fluid itinerary-title">
  <h1 class="day">Day 2: </h1>
  <h1 class="title">Let another wonderful Day in <strong>{{city.city_name}}</strong> begin!</h1>
</div>

<div class="row">

  <!-- Grid column -->
  <div class="column-2 px-5 mb-r">

    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[6].photo}}" class="card-img-top" alt="photo">
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">1. Start your day with a delicious breakfast at {{steps.[6].name}}</h4>
        <p class="card-text white-text">{{city.steps.[6].description}}</p>
        <a href="{{city.steps.[6].website}}" class="btn btn-outline-white btn-md">Check out the Reviews and Menu
          here!</a>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-5 mb-r">
    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[7].photo}}" class="card-img-top" alt="photo">
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">2. Begin your trip with a visit to {{city.steps.[7].name}}</h4>
        <p class="card-text white-text">{{city.steps.[7].description}}</p>
        <a href="{{city.steps.[7].website}}" class="btn btn-outline-white btn-md">Find more Information here!</a>
      </div>
    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-5">

    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[8].photo}}" class="card-img-top" alt="photo">
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">3. A delicious lunch awaits you at {{city.steps.[8].name}}</h4>
        <p class="card-text white-text">{{city.steps.[8].description}}</p>
        <a href="{{city.steps.[8].website}}" class="btn btn-outline-white btn-md">Check out the Reviews and Menu
          here!</a>
      </div>
    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<div class="row">

  <!-- Grid column -->
  <div class="column-2 px-5 mb-r">

    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[9].photo}}" class="card-img-top" alt="photo">
      </div>

      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">4. Discover the beauty of {{city.steps.[9].name}}</h4>
        <p class="card-text white-text">{{city.steps.[9].description}}</p>
        <a href="{{city.steps.[9].website}}" class="btn btn-outline-white btn-md">Find more Information here!</a>
      </div>
    </div>
    <!--/.Card-->
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-5 mb-r">
    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[10].photo}}" class="card-img-top" alt="photo">
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">5. Dine with style at restaurant {{city.steps.[10].name}}</h4>
        <p class="card-text white-text">{{city.steps.[10].description}}</p>
        <a href="{{city.steps.[10].website}}" class="btn btn-outline-white btn-md">Check out the Reviews and Menu
          here!</a>
      </div>
    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="column-1 px-5">

    <!--Card-->
    <div class="card default-color-dark">
      <!--Card image-->
      <div class="view">
        <img src="{{city.steps.[11].photo}}" class="card-img-top" alt="photo">
      </div>
      <!--Card content-->
      <div class="card-body text-center">
        <h4 class="card-title white-text">6. Wrap up your evening by visiting majestic {{city.steps.[11].name}}</h4>
        <p class="card-text white-text">{{city.steps.[11].description}}</p>
        <a href="{{city.steps.[11].website}}" class="btn btn-outline-white btn-md">Find more Information here!</a>
      </div>
    </div>
    <!--/.Card-->

  </div>
  <!-- Grid column -->

</div>

<div class="last-link">
  <a href="/">Return to Home</a>
</div>
</div>